<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <h2 class="bg-primary" id="header">Contact Management</h2>
    <div class='container mt-4'>
        <div class='row'>
            <div class='col'>
                <table>
                    <tr>                        
                            <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                                <p>Add Contact</p>
                                <div>
                                    <label>Name</label><label class="validation-error hide" id="fullNameValidationError">This field is required.</label>
                                    <input type="text" name="fullName" id="fullName" required>
                                </div>
                                <div>
                                    <label>Email</label>
                                    <input type="text" name="email" id="email" required placeholder="user@domain">
                                </div>
                                <div>
                                    <label>Phone</label>
                                    <input type="text" name="phone" id="phone" required> 
                                </div>
                                <div class="form-action-buttons">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        
                    </tr>
                </table>
                </div>
                        <div class='col'>
                            <td>
                                <table class="table table-striped mt-5" id="contactList">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <script src="script.js"></script>
                </div>
</div>
</div>  
</body>

</html>