<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

  </head>
  <body>
    <table>
      <tr>
          <td>
          <td>
              <table class="list" id="employeeList">
                  <thead>
                      <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>

                  </tbody>
              </table>
          </td>
          <td>
            <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off">
                <div>
                    <label>Name</label><label class="validation-error hide" id='contactName'></label>
                    <input type="text" name="contactName" id="fullName">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div>
                    <label>Phone</label>
                    <input type="text" name="phone" id="phone">
                </div>
                <div  class="form-action-buttons">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </td>
      </tr>
  </table>
  <script src="script.js"></script>
  </body>
</html>