#header {
    color: white;
    height: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
tr:nth-child(even),table.table thead>tr {
    background-color: #dddddd;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width:30%;
    background-color: green;
    color: white;
    padding: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: right;
}

form div.form-action-buttons{
    text-align: right;
}

edit {
    border-radius: 8px;

    border: 2px solid gold;
    cursor: pointer;
    display: inline-block;
}

delete {
    border-radius: 8px;

    border: 2px solid red;
    cursor: pointer;
    display: inline-block;
}



label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.col {
    border: 1px solid black;
}
